# **ESTE CÓDIGO SE CORRIÓ EN EL DOCKER**

In [1]:
import pandas as pd
import numpy as np

personal_folder="/disco4/personal_folders/Joaquin/Semanas_13_14_15/betard33_0"

Extraígamos la XS mientras acaba de correr

In [2]:
M = ["1000", "1250", "1500", "1750", "2000", "2250", "2500"]
g_U = ["1.8"]

In [3]:
xs_lq_ta = np.zeros((len(g_U), len(M)))
for j in range(len(M)):
    for i in range(len(g_U)):
        etiqueta = "M" + M[j].replace('.','_') + "_gU" + g_U[i].replace('.','_')
        
        ruta_tabla = f"{personal_folder}/Data_800K_13_TeV/lq_ta/Cross_Sections/crossx_" + etiqueta + ".html"
        tabla_ij = pd.read_html(ruta_tabla)
        columna_xs = tabla_ij[0]['Cross section (pb)']
        xs_lq_ta[i,j] = float(columna_xs[0].split(' ')[0])         
        
XS_Matriz_lq_ta = pd.DataFrame(xs_lq_ta)
XS_Matriz_lq_ta.columns = M
XS_Matriz_lq_ta.index = g_U

XS_Matriz_lq_ta.to_excel('betard33_0_Tau_LQ_XS_Matriz.xlsx')

In [4]:
XS_Matriz_lq_ta

        1000     1250      1500      1750      2000      2250      2500
1.8  0.05132  0.01144  0.003047  0.000916  0.000301  0.000106  0.000039

In [5]:
xs_lq_lq = np.zeros((len(g_U), len(M)))
for j in range(len(M)):
    for i in range(len(g_U)):
        etiqueta = "M" + M[j].replace('.','_') + "_gU" + g_U[i].replace('.','_')  
        
        ruta_tabla = f"{personal_folder}/Data_800K_13_TeV/lq_lq/Cross_Sections/crossx_" + etiqueta + ".html"
        tabla_ij = pd.read_html(ruta_tabla)
        columna_xs = tabla_ij[0]['Cross section (pb)']
        xs_lq_lq[i,j] = float(columna_xs[0].split(' ')[0])         
        
XS_Matriz_lq_lq = pd.DataFrame(xs_lq_lq)
XS_Matriz_lq_lq.columns = M
XS_Matriz_lq_lq.index = g_U

XS_Matriz_lq_lq.to_excel('betard33_0_LQ_LQ_XS_Matriz.xlsx')

In [6]:
XS_Matriz_lq_lq

       1000     1250      1500      1750      2000     2250     2500
1.8  0.1982  0.03348  0.006548  0.001423  0.000331  0.00008  0.00002

In [8]:
import shutil

In [13]:
for ruta in ['Data_5K_13_6_TeV', 'Data_5K_13_TeV']:
    for signal in ['lq_lq', 'lq_ta']:
        origen = f'{personal_folder}/{ruta}/{signal}/Cross_Sections/XS_Matriz.xlsx'
        shutil.copyfile(origen, f'{ruta}_{signal}_XS.xlsx')